.homeContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description {
    text-align: center;
    font-size: 16px;
}

.selector {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.selector img {
    width: 500px;
    margin: 0 10px;
    border-radius: 5px;
}

.imageContainer {
    position: relative; 
    overflow: hidden;
    cursor: pointer;
}

.imageContainer img {
    transition: filter 0.3s ease;
}

.imageContainer:hover img {
    filter: brightness(70%);
}

.overlay {
    color: #fff; 
    font-size: 15px;
    left: 50%;
    top: 50%;
    position: absolute; 
    padding: 8px; 
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    width: 86px;
    font-size: 35px;
    font-weight: bold;
}

